<div class="wrapper">
    <h1><%= @journal.name %></h1>

    <h3>Habits</h3>

        <div class="quote-container">
        <h4>Something to remember...</h4>
        <p class="quote"><%= @default_quotes.sample %></p>
        
    </div>

    <h3>Diary</h3>

    <div class="btn">
        <%= link_to "Write new entry", new_journal_entry_path(@journal) %>
    </div>

    <h4>Recent</h4>
    
    <div class="card-container">
        <% @journal.entries.first(8).each do |entry| %>
            <div class="card">
                <h5><%= entry.title %></h5>
                <p><%= entry.content %></p>
            </div>
        <% end %>
    </div>
</div>
