<div class="wrapper">
    <h1><%= @journal.name %></h1>

    <div class="top ui grid">
        <div class="habit-container six wide column">
            <div class="container-white-top">
                <h3>Habits</h3>
            </div>
            <div class="container-white-bottom">

                <table class="ui table">
                    <thead>
                        <tr class="table-header">
                            <th class="one wide">Habit</th>
                            <th class="one wide">M</th>
                            <th class="one wide">T</th>
                            <th class="one wide">W</th>
                            <th class="one wide">T</th>
                            <th class="one wide">F</th>
                            <th class="one wide">S</th>
                            <th class="one wide">S</th>
                            <th class="three wide"></th>
                        </tr>
                    </thead>
                    <tbody class="habit-list sortable">
                        <% @journal.habits.each do |habit| %>
                            <tr class="habit sortable_id">
                                <td class="three wide"><%= habit.name %></td>
                                <td class="one wide"><i class="fas fa-square"></i></td>
                                <td class="one wide"><i class="fas fa-square"></i></td>
                                <td class="one wide"><i class="fas fa-square"></i></td>
                                <td class="one wide"><i class="fas fa-square"></i></td>
                                <td class="one wide"><i class="fas fa-square"></i></td>
                                <td class="one wide"><i class="fas fa-square"></i></td>
                                <td class="one wide"><i class="fas fa-square"></i></td>
                                <td class="one wide">
                                    <% if habit.completed_dates.exists? %>
                                        <i class="fas fa-check"></i>
                                    <% else %>
                                        <i class="fas fa-times"></i>
                                    <% end %>
                                </td>
                                <td class="one wide">
                                    <%= link_to journal_habit_completed_dates_path(@journal, habit), method: :post do %>
                                        <i class="fas fa-edit btn-edit"></i>
                                    <% end %>
                                </td>
                                <td class="one wide">
                                    <%= link_to journal_habit_path(@journal), method: :delete do %>
                                        <i class="fas fa-trash btn-edit"></i>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>

                <div class="container pb-2 create-new-habit .d-flex flex-row">
                    <h5>Create new habit</h5>
                    <%= simple_form_for [@journal, @habit] do |f| %>
                        <%= f.input :name, label_html: { class: 'create-new-habit-name' }  %>
                        <%= f.submit "Create", class: "btn-submit" %>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="quote-container column four wide">
            <div class="container-white-top">
                <h4>Something to remember...</h4>
            </div>
            <div class="container-white-bottom">
                <p class="quote"><%= @default_quotes.sample %></p>
            </div>
        </div>
    </div>

    <h3>Diary</h3>

    <div class="btn">
        <%= link_to "Write new entry", new_journal_entry_path(@journal) %>
    </div>

    <h4>Recent</h4>
    
    <div class="card-container">
        <% @journal.entries.last(8).reverse.each do |entry| %>
            <div class="card">
                <h5><%= entry.title %></h5>
                <p><%= entry.created_at.strftime("%A %B %d, %Y") %></p>
                <p><%= entry.content %></p>
            </div>
        <% end %>
    </div>
</div>
