<div class="wrapper container">
    <h1 id="journal-name"><%= @journal.name %></h1>
    <section class="card-wide habit">
        <h3 class="section-header">Habits</h3>

        <div class="top-row d-flex">
            <div class="habit-name-column pl-4"></div>
            <div class="weekday-column text-center">M</div>
            <div class="weekday-column text-center">T</div>
            <div class="weekday-column text-center">W</div>
            <div class="weekday-column text-center">T</div>
            <div class="weekday-column text-center">F</div>
            <div class="weekday-column text-center">S</div>
            <div class="weekday-column text-center">S</div>
            <div class="status-column"></div>
        </div>

        <div class="habits sortable">
            <% @journal.habits.each do |habit| %>
                <div class="habit-container d-flex align-items-center sortable_id">
                    <div class="habit-name-column pl-4"><%= habit.name %></div>
                    <% if habit.completed_dates.include?(Date.today.all_day) %>
                        <div class="habit weekday-column text-center"><i class="fas fa-square"></i></div>
                    <% end %>
                    <div class="habit weekday-column text-center"><i class="fas fa-square"></i></div>
                    <div class="habit weekday-column text-center"><i class="fas fa-square"></i></div>
                    <div class="habit weekday-column text-center"><i class="fas fa-square"></i></div>
                    <div class="habit weekday-column text-center"><i class="fas fa-square"></i></div>
                    <div class="habit weekday-column text-center"><i class="fas fa-square"></i></div>
                    <div class="habit weekday-column text-center"><i class="fas fa-square"></i></div>
                    <div class="habit weekday-column text-center"><i class="fas fa-square"></i></div>
                    <div class="status-column d-flex">
                        <div class="check">
                            <% if habit.completed_dates.exists? %>
                            <i class="fas fa-check"></i>
                        <% else %>
                            <i class="fas fa-times"></i>
                        <% end %>
                        </div>
                        <div class="edit-button">
                            <%= link_to journal_habit_completed_dates_path(@journal, habit), method: :post do %>
                            <i class="fas fa-edit btn-edit"></i>
                        <% end %>
                        </div>
                        <div class="delete-button">
                            <%= link_to journal_habit_path(@journal), method: :delete do %>
                            <i class="fas fa-trash btn-edit"></i>
                        <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>

        <div class="create-new-habit .d-flex flex-row pt-5 pb-0">
            <h5>Create new habit</h5>
            <%= simple_form_for [@journal, @habit] do |f| %>
                <%= f.input :name, label_html: { class: 'create-new-habit-name' }  %>
                <%= f.submit "Create", class: "btn-submit" %>
            <% end %>
        </div>
    </section>

    <section class="card-wide quote">
        <h3 class="section-header">Something to remember...</h3>
        <div>
            <p><%= @default_quotes.sample %></p>
        </div>
    </section>

    <div class="card-wide">
        <h3 class="section-header">Diary</h3>

        <div class="btn">
            <%= link_to "Write today's entry", new_journal_entry_path(@journal) %>
        </div>

        <h4>Recent</h4>
        
        <div class="card-container">
            <% @journal.entries.last(8).reverse.each do |entry| %>
                <div class="diary-entry">
                    <h5><%= entry.title %></h5>
                    <p><%= entry.created_at.strftime("%A %B %d, %Y") %></p>
                    <% if entry.photo.attached? %>
                        <div class="entry-photo">
                            <%= image_tag entry.photo  %>
                        </div>
                    <% end %>
                    <p class="pt-3"><%= entry.content %></p>
                    <div class="edit-buttons d-flex justify-content-end">
                        <div class="button">
                            <%= link_to edit_journal_entry_path(@journal, entry), method: :get do %>
                                <i class="fas fa-edit btn-edit"></i>
                            <% end %>
                        </div>
                        <div class="button">
                            <%= link_to journal_entry_path(@journal, entry), method: :delete do %>
                                <i class="fas fa-trash btn-edit"></i>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
