<div class="wrapper">
    <h1><%= @journal.name %></h1>

    <h3>Habits</h3>

    <div class="habit-container">
        <% @journal.habits.each do |habit| %>
            <div class="habit-list">
                <div class="habit-name"><%= habit.name %></div>
                <div class="habit-status">
                    <%= simple_form_for [@journal, @habit] do |f| %>
                        <%= f.input :status, label: false, :inline_label => true %>
                    <% end %>
                </div>
                <div>
                    <%= link_to habit_path(habit), method: :delete do %>
                    <i class="fas fa-trash btn-edit"></i>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>

    <div class=".d-flex flex-row col-2">
        <h5>Create new habit</h5>
        <%= simple_form_for [@journal, @habit] do |f| %>
            <%= f.input :name %>
            <%= f.submit "Create habit", class: "btn-submit" %>
        <% end %>
    </div>

    <div class="quote-container">
        <h4>Something to remember...</h4>
        <p class="quote"><%= @default_quotes.sample %></p>
    </div>

    <h3>Diary</h3>

    <div class="btn">
        <%= link_to "Write new entry", new_journal_entry_path(@journal) %>
    </div>

    <h4>Recent</h4>
    
    <div class="card-container">
        <% @journal.entries.first(8).each do |entry| %>
            <div class="card">
                <h5><%= entry.title %></h5>
                <p><%= entry.content %></p>
            </div>
        <% end %>
    </div>
</div>
