<% if user_signed_in? -%>
    <nav class="navbar justify-content-end align-items-end">
        <ul class="nav-items d-flex">
            <li class="nav-item pl-4"><%= link_to 'Account', edit_user_registration_path %></li>
            <li class="nav-item pl-4"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
            <li class="nav-item pl-4 pr-4"><%= link_to 'View all journals', journals_path %></li>
        </ul>
    </nav>
    <div class="navbar-bar">
    </div>
<% else -%>
    <nav class="navbar justify-content-end align-items-end">
        <ul class="nav-items d-flex">
            <li class="nav-item pl-4"><%= link_to 'Sign up', new_user_registration_path %></li>
            <li class="nav-item pl-4 pr-4"><%= link_to 'Sign in', new_user_session_path %></li>
        </ul>
    </nav>
    <div class="navbar-bar">
    </div>
<% end -%>

<% flash.each do |name, msg| %>
    <%= content_tag(:div, msg, class: "alert alert-info") %>
<% end %>